*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: gray;
}

h2{
    text-align: center;
    font-size: xx-large;
}
.main{
   margin-top: 15rem; 
   display: table;
   padding-bottom: 15px;
   padding-top: 10px;
   background-color:#7f32a8;
   border: solid 2.5px black;
   align-items: center;
   width: 100%;
   text-align: center;
}
.main label{
    display: table-row;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.main input{
    display: table-row;
    padding: 5px;
    border-radius: 5px;
    height: 1rem;
    text-align: center;
    align-items: center;
    font-size: large;
}

#btn{
    margin-top: 10px;
    background-color: lightskyblue;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 5px 10px;
    font-weight: bold;
}
#btn1{
    margin-top: 10px;
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 10px 5px 10px;
    font-weight: bold;
}

@media screen and (max-width: 300px) {
    .main input{
        width: 50%;
    }
}
@media screen and (min-width: 720px) {
    .main input{
        width: 80%;
    }
}